
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html  {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 62.5%;
}

body  {
    font-size: 1.6rem;
}

a, a:visited  {
    color: black;
    text-decoration: none;
}