//--- Responsive breakpoint manager 
@mixin respond-to ($breakpoint)  {
    $raw-query: map-get($breakpoints, $breakpoint );

    @if $raw-query{
        $query: if(
            type-of($raw-query) == 'string',
            unquote($raw-query),
            inspect($raw-query)
        );

        @media #{$query}  {
            @content;
        }
    } @else {
        @error 'No value found for `#{$breakpoint}`.'
            + 'Please make sure it is defined in `$breakpoints` map.';
    }
}

//-- icon - size
@mixin iconNav {
    height: $iconSize;
    width: $iconSize;
    border-radius: 50%;  
}

@mixin mobileNav  {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    width: 65vw;
    max-width: 400px;
    background-color: $white;
    z-index: 100;
    font-size: 1.8rem;
    font-weight: $bold;
    padding:40px 0 0 20px;
    row-gap: 25px;
    margin-top: 7vh;
}

@mixin cart {
    position: absolute;
    z-index: 100;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 95vw;
    background-color: $white;
    border-radius: 9px; 
    max-width: 460px;
    box-shadow: 2px 15px 20px 10px rgba(0, 0, 0, 0.2);
}