.lightbox  {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: $black-75-opacity;
    z-index: 300;


    &__picture-container {
        position: relative;
        overflow: visible;
        height: 30vw;
        width: 30vw;

        & > img  {
            width: 100%;
            object-fit: cover;
            border-radius: 24px;
        }
    }
    &__close {
        position: absolute;
        top : -30px;
        right: 10px;
        background-size: 50px;

        .svg-cross__path  {
            fill: #ffffff;
        }
        &:hover {
            .svg-cross__path  {
                fill: $orangeHex;
            }
        }
       
        
    }
    &__button  {

        .svg-chevron__path {
          stroke-width: 4;

        }

        &:hover  {
            .svg-chevron__path  {
                stroke: $orangeHex;
            }
        }
    }
    .prev {
        position: absolute;
        z-index: 1000;
        left: -25px;
        height: 50px;
        width: 50px;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        border-radius: 50%;
    }
    .next {
        position: absolute;
        right: -25px;
        z-index: 1000;
        height: 50px;
        width: 50px;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        border-radius: 50%;
    }
}
.caroussel__slide {
    @include respond-to ('extra-large'){
    border-radius: 24px;
    overflow: hidden;
    }
}