.product  {
    &__caroussel  {
        height: 200;
    }
    &__brand  {
        font-size: 1.3rem;
        font-weight: $bold;
        text-transform: uppercase;
        color: $orange;
        letter-spacing: 0.1rem;
    }
    &__name  {
        color: $very-dark-blue;
        font-size: 2.7rem;
        font-weight: $bold;
    }
    &__description  {
        color: $dark-grayish-blue ;
        font-weight: $regular;
        line-height: 1.5;
        font-size: 1.5rem
    }
    &__prices  {
        display: flex;
    }
    &__cart  {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        &__inputs  {
            font-family: 'Kumbh Sans', sans-serif;
            background-color: $light-grayish-blue;
            height: $inputCartSize;
            width: 100%;
            border-radius: 9px;
        }
        &__add-to  {
            font-family: 'Kumbh Sans', sans-serif;
            position: relative;
            font-weight: $bold;
            font-size: 1.5rem;
            color: $white;
            background-color: $orange;
            height: $inputCartSize;
            width: 100%;
            border-radius: 9px;

            &:before  {
                content: "";
                position: absolute;
                top: 50%;
                left: 30%;
                transform: translate(-30%, -50%);
                background: url('../images/icon-cart2.svg') center/contain no-repeat;
                height: 17px;
                width: 17px;

            }
        }
    }
}

.side-container  {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $white;
    padding: 0 25px;
    height: 60vh;
}

.prices  {
    display: flex;
    justify-content: space-between;
    &__current  {
        color: $very-dark-blue;
        font-size: 3rem;
        font-weight: $bold;
        display: flex;
        column-gap: 15px;
    }
    &__discount  {
        font-size: 1.7rem;
        left: 50px;
        color: $orange;
        background-color: $pale-orange;
        font-weight: $bold;
        height: 30px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
    }
    &__before  {
        align-self: start;
        text-decoration: line-through;
        color:$grayish-blue ;
        font-weight: $bold;
        font-size: 1.7rem;
    }
}

.inputs-cart  {
    display: flex;
    align-items: center;
    padding: 0 15px;
    &__decrease  {
        // display: inline-block;
        flex-grow: 5;
    
    }
    &__value  {
        font-family: 'Kumbh Sans', sans-serif;
        color: $very-dark-blue;
        font-size: 1.8rem;
        font-weight: $bold;
        display: block;
        border: 0;
        background-color: $light-grayish-blue;
        // height: $inputCartSize;
        flex-grow: 5;
        text-align: center;
    }
    &__increase  {
        display: inline-block;
        flex-grow: 5;
        align-self: auto;
        padding-top: 5px;
        

    }
}