.navbar  {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 8vh;
    background-color: $white;
    padding: 5px 20px 0px 20px;
    margin: 0 auto;
    

    @include respond-to ('medium'){
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        width: 75vw;
        margin-bottom: 25px;
        height: 12vh;
        justify-content: space-between;
    }

    &__hamburger  {
      position: absolute;
    }
  
    &__logo  {
        display: inline-block;
        background: url('../images/logo.svg') center/contain no-repeat;
        height: 30%;
        flex-grow: 2;
        margin-left: 20px;


        @include respond-to ('medium'){
            width: 20%;
            height: 20%;
            margin: 0;
            margin-right: 25px;
            flex-grow: 0;
        }
    }

    &__cart-icon  {
        position: relative;
        background: url('../images/icon-cart.svg') center/contain no-repeat;
        width: 18px;
        height: 18px;
        margin: 0 7px;
        order: 3;
        flex-grow: 0;
        @include respond-to ('medium'){
            height: 21px;
            width: 21px;
            margin-right: 25px;
        }

        & > span[data-icon-cart="notempty"]  {
            position: absolute;
            top: -6px;
            height: 12px;
            width: 16px;
            border-radius: 6px;
            background-color: $orange;
            color: $white;
            font-size: 1rem;

            @include respond-to ('medium') {
                top: -12px;
                height: 18px;
                width: 26px;
                border-radius: 12px;
                font-size: 1.5rem;
            }
        }

        & > span[data-icon-cart="empty"]  {
          display: none;
        }

        

    }
    &__shopping-list[data-display="isactive"]  {
        @include cart;

    }

    &__shopping-list[data-display="isnotactive"]  {
        display: none;
  
    }  

    &__avatar  {
        background: url('../images/image-avatar.png') center/cover no-repeat;
        @include iconNav;
        margin: 0 7px;
        transition: 0.25s ease-out;
        outline-style: solid;
        outline-offset: 1px;
        outline-color: transparent;
        order: 4;
        flex-grow: 0;

        @include respond-to ('medium'){
            height: calc($iconSize * 2);
            width: calc($iconSize * 2);
        }

        &:hover  {
            outline-color: $orange;
            cursor: pointer;
        }
    }
    &__links[data-nav-mobile="isnotactive"]  {
        left: -65vw;
        transition: left 0.35s ease-in-out;
        @include mobileNav;

        & > li {
            position: relative;
            transform: translateY(0);
            transition: transform 0.350s ease-in;
                &::after {
                    content:"";
                    position: absolute;
                    top: 6vh;
                    left: 0;
                    height: 5px;
                    width: 0%;
                    background-color: $orange;
                    transform: translateY(0);
                    transition: width 0.350s ease-in-out,
                                transform 0.350s ease-in;
                }
            &:hover {
                transform: translateY(-5px);
                &:after {
                    width: 100%;
                    transform: translateY(-5px);
                }
            }
        }

        @include respond-to ('medium') {
            margin: 0;
            padding: 0;
            height: 7vh;
            max-width: 355px;
            position: static;
            flex-direction: row;
            align-items: center;
            column-gap: 15px;
            font-size: 1.7rem;
            font-weight: $regular;
            order: 1;
            flex-grow: 20;
        }


    }

    &__links[data-nav-mobile="isactive"]  {
        // display: none;
        @include mobileNav;
        transition: left 0.35s ease-in-out;
        left: 0;     
    }

    &__end-container  {
        order: 3;
        display: flex;
        align-items: center;
    }


} 

.navbar__shopping-list__header  {
    font-weight: $bold;
    padding: 20px;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.141);
}
.navbar__shopping-list__content  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    row-gap: 15px;

}
.navbar__shopping-list__content[data-content="empty"]  {
  height: 20vh;

}
.navbar__shopping-list__content[data-content="notempty"]  {
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 25px 0 25px;

   .checkout {
    font-family: 'Kumbh Sans', sans-serif;
    color: $white;
    background-color: $orange;
    border-radius: 6px;
    width: 100%;
    min-height: 50px;
    font-size: 1.5rem;
    font-weight: $bold;
    margin-bottom: 30px;
   }
}
.empty {
    font-family: inherit;
    font-weight: $bold;
    font-size: 1.6rem;
    color: $dark-grayish-blue;
}

.cart-item  {
    display: flex;
    column-gap: 15px;
    .item-photo  {
        height: 50px;
        width: 50px;
        overflow: hidden;
        border-radius: 6px;

        & > img {
            object-fit: cover;
            width: 100%;
        }
    }
    .item-description  {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        color: $dark-grayish-blue;
        font-size: 1.6rem;

        .nameof-product  {
            max-width: 175px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .total-price  {
            color: black;
            font-weight: $bold;
        }
    }
}
