.navbar  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 8vh;
    background-color: $white;
    padding: 5px 20px 0px 20px;

    // &__hamburger  {
      
    // }
  
    &__logo  {
        background: url('../images/logo.svg') center/contain no-repeat;
        height: 20px;
        flex-grow: 1;
        text-align: left;
    }

    &__cart-icon  {
        background: url('../images/icon-cart.svg') center/contain no-repeat;
        @include iconNav;
        margin: 0 7px;

    }

    &__avatar  {
        background: url('../images/image-avatar.png') center/cover no-repeat;
        @include iconNav;
        margin: 0 7px;
    }

    &__links  {
        display: none;
    }
}