.navbar  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 8vh;
    background-color: $white;
    padding: 5px 20px 0px 20px;
    position: relative;

    &__hamburger  {
      position: absolute;
    }
  
    &__logo  {
        background: url('../images/logo.svg') center/contain no-repeat;
        height: 20px;
        flex-grow: 1;
        text-align: left;
        margin-left: 25px;
    }

    &__cart-icon  {
        background: url('../images/icon-cart.svg') center/contain no-repeat;
        width: 18px;
        height: 18px;
        margin: 0 7px;

    }
    &__shopping-list[data-display="isactive"]  {
        @include cart;

    }

    &__shopping-list[data-display="isnotactive"]  {
        display: none;
        @include cart;     
    }  

    &__avatar  {
        background: url('../images/image-avatar.png') center/cover no-repeat;
        @include iconNav;
        margin: 0 7px;
        transition: 0.25s ease-out;
        outline-style: solid;
        outline-offset: 1px;
        outline-color: transparent;

        &:hover  {
            outline-color: $orange;
            cursor: pointer;
        }
    }
    &__links[data-nav-mobile="isnotactive"]  {
        left: -65vw;
        transition: left 0.35s ease-in-out;
        @include mobileNav;

    }

    &__links[data-nav-mobile="isactive"]  {
        // display: none;
        @include mobileNav;
        transition: left 0.35s ease-in-out;
        left: 0;     
    }



} 

.navbar__shopping-list__header  {
    font-weight: $bold;
    padding: 20px;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.141);
}
.navbar__shopping-list__content  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
}
.empty {
    font-family: inherit;
    font-weight: $bold;
    font-size: 1.6rem;
    color: $dark-grayish-blue;
}