.caroussel  {
    margin: 0 auto;
    width: 100%;
    max-width: 480px;
    height: 30vh;
    position: relative;
    &__slide {
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: 250ms opacity ease-in-out;
        transition-delay: 200ms;

        & > img  {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__slide[data-active] {
        opacity: 1;
        transition-delay: 0ms;
    }

    &__button  {
        position: absolute;
        z-index: 10;
        height: 35px;
        width: 35px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        background-size: 50%;

        &:hover  {
            cursor: pointer;
        }

        & > img  {
            display: block;
            object-fit: contain;
            object-position: center;
            height: 70%;
            width: 70%;
        }

        &.prev  {
            left: 15px;

        }

        &.next  {
            right: 15px;

        }
    
    }
    &__circle-container  {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        left: 50%;
        bottom: 5px;
        transform: translateX(-50%);
        height: 20px;
        width: 100px;
        z-index: 1000;
        
        .outter-circle  {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 15px;
            width: 15px;
            border: 2px solid rgba(0, 0, 0, 0.337);
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.099);
          

            .inner-circle  {
            transform: scale(0);
            transition: transform 250ms ease-in;
            transition-delay: 350ms;
            opacity: 0;
            }

            .inner-circle[data-active]  {
                background-color:hsla(26, 100%, 55%, 0.878) ;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                opacity: 0.9;
                transform: scale(1);
                transition: all 350ms ease-in;
            }
        }
        
    }
}

